<h1>
	<a href="#/sites">sites</a> / 
	<a href="#/sites/{{site.name}}">{{site.name}}</a> / 
	<a href="#/sites/{{site.name}}/backups">backups</a> /
	{{backup.revision | limitTo:10}}
</h1>

<dl class="dl-horizontal">
	<dt>backup id:</dt>
	<dd>{{backup.revision}}</dd>
	<dt>based on:</dt>
	<dd>
		<a ng-if="backup.parentRevision" href="#/sites/{{site.name}}/backups/{{backup.parentRevision}}">{{backup.parentRevision | limitTo: 10}}</a>
		<span ng-if="!backup.parentRevision">none (initial backup)</span>
	</dd>
	<dt>date:</dd>
	<dd>{{backup.time | date:'medium'}}</dd>
	<dt>site revision:</dt>
	<dd>{{backup.siteRevision}}</dd>
	<dt>message:</dt>
	<dd>{{backup.message}}</dd>

	<dd>
		<button class="btn btn-default" ng-click="restore()">Restore this backup</button>
	</dd>
</dl>

