<h1 class="site-title">
	tasks
</h1>

<div ng-repeat="task in tasks" ng-class="'alert alert-'+(task.status == 'done' ? 'success' : task.status == 'failed' ? 'danger' : 'info')">
	<span ng-class="'glyphicon glyphicon-' + (task.status == 'done' ? 'ok' : task.status == 'failed' ? 'exclamation-sign' : task.status == 'running' ? 'play' : 'time')"></span>
	<strong ng-if="task.site"><a href="#/sites/{{task.site}}">{{task.site}}</a>:</strong>
	<a href="#/tasks/{{task.site ? 'sites/' + task.site + '/' : ''}}{{task.id}}">
		{{task.name}} ({{task.status}})
	</a>
</div>
