<h1 class="site-title">
	<a href="#/sites">sites</a> /
	{{site.name}}
</h1>

<div ng-if="site.isLoaded">
	<dl class="dl-horizontal">
		<dt>Branch:</dt>
		<dd>{{site.branch}}</dd>
		<dt>Revision:</dt>
		<dd>{{site.revision}}</dd>
		<dt>Upgrade Status:</dt>
		<dd>{{status(site)}}</dd>
		<dt>Data Base:</dt>
		<dd ng-switch on="site.dbConfig.type">
			<div ng-switch-when="">no data base</div>
			<div ng-switch-when="sqlite">SQLite at {{site.dbConfig.path}}</div>
			<div ng-switch-when="mysql">MySQL (db: <strong>{{site.dbConfig.database}}</strong>,
			 host: {{site.dbConfig.host}}, user: {{site.dbConfig.user}})</div>
		</dd>
		<dt ng-if="site.stagingOf">Staging:</dt>
		<dd ng-if="site.stagingOf">This is the staging site of <a href="#/sites/{{site.stagingOf}}">{{site.stagingOf}}</a>.</dd>
		<dt>Links:</dt>
		<dd><a href="#/sites/{{site.name}}/tasks">tasks</a></dd>
		<dd><a href="#/sites/{{site.name}}/backups">backups</a></dd>
		<dd>
			<button ng-if="site.canUpgrade" class="btn btn-success" ng-click="upgrade()">Upgrade {{site.behindBy}} commit(s)</button>
			<button ng-if="site.stagingOf" class="btn" ng-click="resetStaging()">Reset to {{site.stagingOf}}</button>
			<button ng-if="stagingOfSite && stagingOfSite.revision != site.revision" class="btn btn-success" ng-click="upgradeToStaging()">Upgrade {{site.stagingOf}}</button>
			<button class="btn btn-danger" ng-click="reset()">Reset Data Base</button>
			<button class="btn btn-danger" ng-click="delete()">Delete</button>
		</dd>
	</dl>
</div>
<div ng-if="!site.isLoaded && !site.isLoadFailed">
	<span>loading...</span>
</div>
<div ng-if="site.isLoadFailed">
	<span>failed to load (see <a href="#/sites/{{site.name}}/tasks">tasks</a>)</span>
</div>
