<h1 class="site-title">
	<span ng-if="site">
		<a href="#/sites">sites</a> / 
		<a href="#/sites/{{site.name}}">{{site.name}}</a> / 
		<a href="#/sites/{{site.name}}/tasks">tasks</a> / 
	</span>
	<span ng-if="!site">
		<a href="#/tasks">tasks</a> /
	</span>
	<span ng-class="'glyphicon glyphicon-' + (task.status == 'done' ? 'ok' : task.status == 'failed' ? 'exclamation-sign' : task.status == 'running' ? 'play' : 'time')"></span>
	{{task.name}}
</h1>

<dl class="dl-horizontal">
	<dt>id:</dt>
	<dd>{{task.id}}</dd>
	<dt>status:</dd>
	<dd>{{task.status}}</dd>
	<dt>scheduled:</dt>
	<dd>{{task.scheduleTime | date:'medium'}}</dd>
	<dt>duration:</dt>
	<dd>
		<span ng-if="task.startTime && task.endTime">
			{{task.duration}} ms ( {{task.startTime | date:'mediumTime'}} to {{task.endTime | date:'mediumTime'}})
		</span>
		<span ng-if="task.startTime && !task.endTime">
			running since {{task.startTime | date: 'mediumTime'}}
		</span>
		<span ng-if="!task.startTime && !task.endTime">
			not yet started
		</span>
	</dd>
</dl>

<pre ng-bind-html="task.log | ansi2html">a</pre>
